<div class="container-dash">
  <div class="container my-4 p-5">
    <h1>Editar Educación</h1>
    <form class="p-3" (ngSubmit)="onUpdate()" novalidate #f="ngForm" >
      <div class="mb-3">
        <label for="institucion" class="form-label">Institución</label>
        <input type="text" class="form-control" id="institucion" name="institucion" [(ngModel)] = "educacionEditable.institucion" required>
        </div>
        <div class="mb-3">
          <label for="nombreEducacion" class="form-label">Título / Carrera / Curso </label>
          <input type="text" class="form-control" id="nombreEducacion" name="nombreEducacion" [(ngModel)] = "educacionEditable.nombreEducacion" required >
        </div>
        <button type="submit" class="btn btn-primary my-2">Actualizar</button>
      </form>
</div>
</div>
