
.container{
    background-color: #fff;
    padding: 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.08);
    border-radius: 15px;
}

.about{
    border-left: 2px solid rgba(0,0,0,0.1);
}



h1{
    font-size: 1.5rem;
    margin: 0;
}

div .title{
    color: #2DC2BD;
}
div .subtitle{
    font-size: 12px;
}

img{
    margin-top: -100px;
    max-height: 170px;
    max-width: 170px;
    border: #fff 5px solid;
}

.social-icons{
    margin: 0 auto;
}

.add-button {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 500;
 
 }
 
 .add-button:hover {
    background-color: #F5F6FA;
 }
 
 .add-button i {
    margin-right: 0.5rem;
 }



@media screen and (max-width: 992px) { 

    .about{
        margin: 0 auto;
        width: 80%;
        font-size: 14px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 1rem;
        border-top: 2px solid rgba(0,0,0,0.1);
        border-left: 0;
        text-align: center;

    }

}



