<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg navbar-light border px-4 solo">
        <div class="container-fluid">
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#MenuNavegacion">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="MenuNavegacion" class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item px-2 me-2"><a href="#" class="nav-link" routerLink="educacion"><i
                                class="bi bi-mortarboard pe-2"></i>Educacion</a></li>
                    <li class="nav-item px-2 me-2"><a href="#" class="nav-link" routerLink="experiencia"><i
                                class="bi bi-file-earmark-text pe-2"></i>Experiencia</a></li>
                    <li class="nav-item px-2 me-2"><a href="#" class="nav-link" routerLink="skills"><i
                                class="bi bi-lightning-charge pe-2"></i>Skills</a></li>
                    <li class="nav-item px-2 me-2"><a href="#" class="nav-link" routerLink="project"><i
                                class="bi bi-layers pe-2"></i>Proyectos</a></li>
                </ul>
            </div>
            <a class="navbar-brand home" (click)="onClick()">Portfolio</a>
        </div>

    </nav>
</div>