<div class="container-fluid">
    <div class="navbar row justify-content-around align-items-center">
        <div class="col-6">
            <app-logo-ap></app-logo-ap>
        </div>
        <div class="col d-flex justify-content-end align-items-center">
            <button class="btn btn-primary border-2" (click)="onLogOut()" *ngIf="isLogged === true">Cerrar Sesión</button>
            <button class="btn btn-primary border-2" (click)="login()" *ngIf="isLogged === false">Ingresar</button>
        </div>
    </div>
</div>