<div class="container p-5 mb-4">
    <div class="d-flex justify-content-start">
        <button class="add-button btn btn-link" *ngIf="isLogged" type="button" routerLink="/nuevo-proyecto">
            <i class="bi bi-plus-circle"></i>
            <p class="m-0">Sumar Proyecto</p>
        </button>
    </div>

    <div class="d-flex justify-content-evenly flex-wrap gap-5 mt-5">
        <div class="d-flex flex-column justify-content-around" *ngFor="let proyecto of proyectos">
            
            <div class="card">
                <div class="d-flex justify-content-center img-container p-2">
                    <img src="{{proyecto.urlImg}}" class="img-fluid rounded">
                </div>

                <div class="card-body">
                    <h5 class="card-title">{{proyecto.nombreProyecto}}</h5>
                    <p class="card-text">{{proyecto.descripcion}}</p>
                    <a (click)="irproyecto(proyecto.urlProyecto)" target="_blank" class="btn btn-primary w-100">Ver</a>
                </div>
            </div>

            <div class="my-2 col d-flex justify-content-start align-self-center" *ngIf="isLogged">
                <button class="add-button btn btn-link" type="button" routerLink="/editar-proyecto/{{proyecto.id}}">
                    <i class="bi bi-pencil-square"></i>
                    <p class="m-0">Editar</p>
                </button>
                <button class="add-button btn btn-link" style="color: red;" type="button"
                    (click)="deleteProyecto(proyecto.id)">
                    <i class="bi bi-trash"></i>
                    <p class="m-0">Eliminar</p>
                </button>
            </div>
        </div>
    </div>
</div>