.container-fluid{
    padding: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

img{
    max-height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}