<div class="container p-5 mb-4">
    <div class="d-flex justify-content-start">
        <button class="add-button btn btn-link" *ngIf="isLogged" type="button" routerLink="/nueva-educacion">
            <i class="bi bi-plus-circle"></i>
            <p class="m-0">Sumar educación</p>
        </button>
    </div>

    <div class="row-container row card p-2 mt-4 flex-row align-items-center justify-content-start "
        *ngFor="let Educacion of educacion">

        <div class="logo d-flex justify-content-center  col-md-2 col-lg-2">
            <img class="img-fluid" src="../../../assets/study.png" alt="">
        </div>

        <!-- title -->
        <div class="col-md-9 col-lg-9 d-flex flex-column justify-content-around title-content">
            <h6 class="py-1 title text-uppercase">{{Educacion.nombreEducacion}}</h6>
            <p class="py-1 subtitle">{{Educacion.institucion}}</p>
        </div>

        <!-- Buttons -->
        <div class="col d-flex justify-content-center buttons-acc" *ngIf="isLogged">
            <button class="edit-button btn btn-link" type="button" routerLink="/editar-educacion/{{Educacion.id}}">
                <i class="bi bi-pencil-square"></i>
                <p class="m-0">Editar</p>
            </button>
            <button class="edit-button btn btn-link" style="color: red;" type="button"
                (click)="deleteEducacion(Educacion.id)">
                <i class="bi bi-trash"></i>
                <p class="m-0">Eliminar</p>
            </button>
        </div>
    </div>
</div>