<div class="container p-5 mb-4">
    <div class="d-flex justify-content-start">
        <button class="add-button btn btn-link" *ngIf="isLogged" type="button" routerLink="/nueva-skill">
            <i class="bi bi-plus-circle"></i>
            <p class="m-0">Sumar skill</p>
        </button>
    </div>

    <div class="row card p-4 mt-5 flex-row justify-content-start" *ngFor="let Skill of skills">
        <div class="d-flex justify-content-between p-0">
            <h5>{{Skill.nombreSkill}}</h5>
        </div>
        <div class="progress">
            <div [ngStyle]="{'width': Skill.porcentaje + '%'}"
                class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="height: 100%;"
                aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>

        <div class="col d-flex justify-content-center" *ngIf="isLogged">
            <button class="add-button btn btn-link" type="button" routerLink="/editar-skill/{{Skill.id}}">
                <i class="bi bi-pencil-square"></i>
                <p class="m-0">Editar</p>
            </button>
            <button class="add-button btn btn-link" style="color: red;" type="button"
                (click)="deleteSkill(Skill.id)">
                <i class="bi bi-trash"></i>
                <p class="m-0">Eliminar</p>
            </button>
        </div>
    </div>




</div>