<div class="container-dash">
  <div class="container my-4 p-5">
    <h1>Editar Skill</h1>
    <form class="p-3" (ngSubmit)="onUpdate()" novalidate #f="ngForm">
      <div class="mb-3">
        <label for="nombreSkill" class="form-label">Habilidad | Skill </label>
        <input type="text" class="form-control" id="nombreSkill" name="nombreSkill" [(ngModel)]="skill.nombreSkill"
        required>
      </div>
      <div class="mb-3">
        <label for="porcentaje" class="form-label">Porcentaje</label>
        <input type="number" class="form-control" min="10" max="100" id="porcentaje" name="porcentaje"
        [(ngModel)]="skill.porcentaje" required>
      </div>
      <button type="submit" class="btn btn-primary mt-4">Actualizar</button>
    </form>
  </div>
</div>