<div class="container p-5 mb-4">
    <div class="d-flex justify-content-start">
        <button class="add-button btn btn-link" *ngIf="isLogged" type="button" routerLink="/nueva-experiencia">
            <i class="bi bi-plus-circle"></i>
            <p class="m-0">Sumar experiencia</p>
        </button>
    </div>

    <div class="row card p-4 mt-5 flex-row align-items-center justify-content-center" *ngFor="let expe of experiencia">
        <div class="logo d-flex justify-content-center col-1 col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <img class="img-fluid" src="../../../assets/factory.png" alt="">
        </div>

        <div class="col d-flex flex-column justify-content-around">
            <h6 class="title text-uppercase">{{expe.empresa}}</h6>
            <p class="subtitle">{{expe.puesto}}</p>
            <p class="date">{{expe.descripcion}}</p>
        </div>

        <div class="col d-flex justify-content-end" *ngIf="isLogged">
            <button class="add-button btn btn-link" type="button" routerLink="/editar-experiencia/{{expe.id}}">
                <i class="bi bi-pencil-square"></i>
                <p class="m-0">Editar</p>
            </button>
            <button class="add-button btn btn-link" style="color: red;" type="button" (click)="deleteExp(expe.id)">
                <i class="bi bi-trash"></i>
                <p class="m-0">Eliminar</p>
            </button>
        </div>
    </div>
</div>